
<!-- <div style="background-image: url('assets/twiteers-logo.jpg');height:500px;"> -->
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4"></div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="container m-5 border">
            <div class="alert alert-info small" *ngIf="errorMessage">{{errorMessage}}</div>
            <h2>LOGIN</h2>
            <form #loginForm="ngForm">
                <div class="alert alert-info small">Please login!</div>
                <label for="username">UserName: </label>
                <input type="text" id="email" name="email" ngModel required>
                <!-- <div class="text-danger">Invalid username</div><br> -->
                <div class="row pl-3"> 
                <label for="password">Password .:</label>
                <input type="password" id="password" name="password" ngModel required>
                </div>
                <!-- <div  class="text-danger">Invalid password</div><br><br> -->
                <div class="row">
                    <div
                        class="form-group d-flex justify-content-between align-items-center col-lg-12 col-md-12 col-sm-12">
                        <button class="btn btn-primary" type="submit" value="submit" (click)="loginsubmit(loginForm)">Login</button>
                        <!-- <span>New User?<a routerLink='/signup'>SignUp</a></span> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4"></div>
</div>
<!-- </div> -->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark text-light mt-5 fixed-bottom">
    <p>Copyright 2021</p>
</nav>