<div class="alert alert-info small" *ngIf="errorMessage">{{errorMessage}}</div>

<h2>RESET PASSWORD</h2>
<form [formGroup]="resetpasswordform">
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <label for="oldpassword"></label>
        <input type="text" formControlName='oldpassword' id="oldpassword" placeholder="Enter your Old Password" ngModel required>
      </div>
      <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <label for="newpassword"></label>
        <input type="text" formControlName='newpassword' id="newpassword" placeholder="Enter your New Password" ngModel required>
      </div>
    <div
        class="form-group d-flex justify-content-between align-items-center col-lg-12 col-md-12 col-sm-12">
        <button class="btn btn-primary" type="submit" value="submit" (click)="resetpassword(resetpasswordform)" [disabled]="!resetpasswordform.valid">Reset</button>
    </div>



</form>
