
<div class="row mx-3">
<div class="col-lg-12 p-2 pb-5" *ngFor="let f of tweet">
<div><div class="row">
      
    <img src="assets/avatar-logo.jpg" alt="boy in a jacket" width="50" height="60">
    <div class="bg-primary text-light">Posted on<span class="pl-5">{{f.date}}</span></div></div>
    <div> {{f.tweetDesc}} </div>
    
    <span>delete your tweet !?</span>
    <button class="btn btn-primary" type="submit" value="submit" (click)="delete(f.tweetId)">Delete </button>
  </div>

  <div *ngFor="let comment of f.replyDTOList;">

      <div class="bg-primary text-light">Commented By {{comment.email}} <span class="pl-5">{{comment.date}}</span>
      </div>
      <div> {{comment.replyDesc}} </div>

    </div>
</div>
</div>
